/* html Elements */
body{
    font-family: 'Source Sans Pro', sans-serif;
    }
/* Header Section */
.header{
background-color: #96bb7c;
}
.container-fluid{
    padding: 1% 0%;
/* Navbar */
}
.navbar-brand{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: left;
    }
.nav-item{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    padding: 0% 5%;
    }
/* Middle Container */
.heading{
    text-align: center;
    color: #07521F;
    padding: 2% 0%;
    font-weight: bolder;
    letter-spacing: 1px;
}
.mid-container{
    padding-bottom: 2%;
}
/* Card */
.item-card{
    margin-bottom: 5%;
}

.items{
        color: #07521F;
    }
.item-box{
    text-align: center;
}
.btn-custom{
background-color: #96bb7c;
color: #fff;
}
.btn-custom:hover{
    color: #07521F;
}
/* Footer */
.footer-section{
    background-color: #96bb7c;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 2% 15%;
    text-align: center;
}
.footer-image{
    padding: 2% 2%;
    line-height: 2rem;
    }

@media (max-width: 991px){
    .position{
    text-align: center;
}}

